 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        .container {
            color: azure;
            background: #343333;
            min-width: 100%;
            height: 100%;
            padding: 12px;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
            justify-items: center;
            align-items: center;
        }

        .items {
            border-radius: 15px;
            width: 100%;
            height: 100%;
        }

        .item-1 {
            grid-column: 1 / 13;
            grid-row: 1/3;
            background: #bcaeaed8;
            padding: 12px;
        }

        button {
            color: azure;
            cursor: pointer;
            padding: 8px 14px;
            width: 150px;
            border-radius: 5px;
            background: green;
            border: 1px solid rgb(3, 235, 3);
        }

        .item-2 {
            grid-column: 1/13;
            grid-row: 3/7;
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-template-rows: repeat(12, 1fr);
            gap: 0.1rem;
            justify-content: space-around;
            align-content: start;
            background-image: url('images/plan.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: scroll;
            background-size: 106% 100%;
        }

        .elements {
            background: #a308085c;
            border-radius: 20px;
            padding: 10px 2px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .elem-1 {
            grid-column: 1/5;
            grid-row: 1/5;
        }

        .elem-2 {
            grid-column: 1/5;
            grid-row: 5/13;
        }

        .elem-3 {
            grid-column: 7/10;
            grid-row: 1/5;
            margin-right: 8px;
        }

        .elem-4 {
            grid-column: 10/13;
            grid-row: 9/13;
        }

        .elem-5 {
            grid-column: 10/13;
            grid-row: 1/5;
        }

        .elem-6 {
            grid-column: 7/10;
            grid-row: 9/13;
            margin-right: 8px;
        }

        .EnAtend {
            margin-top: 10px;
            padding: 3px;
            height: 80%;
            width: 100%;
            border: 2px dashed green;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .Register {
            position: absolute;
            top: 0;
            left: 0;
            background: #d8d6d280;
            backdrop-filter: blur(5px);
            padding: 20px 0;
            width: 100%;
        }

        form {
            position: relative;
            width: 85%;
            height: 80%;
            background: rgba(245, 245, 245, 0.886);
            border-radius: 20px;
            padding: 40px 15px;
            margin: auto;
        }

        .text-center {
            color: #64a403;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            display: block;
            text-align: center;
            padding: 20px 10px;
        }

        #previewImage {
            display: block;
            margin: 10px;
        }

        .inputs>label {
            position: absolute;
            top: -12px;
            left: 0px;
            font-size: 18px;
        }

        .inputs {
            position: relative;
            margin-bottom: 25px;
            border: 0;
            background: transparent;
            width: 100%;
            padding: 8px 0 5px 0;
            font-size: 16px;
        }

        input,
        select {
            width: 80%;
            padding: 8px 12px;
            border-radius: 10px;
            font-size: 16px;
            outline: none;
            border: #90ee02 1px solid;
            margin-top: 2px;
            margin-left: 4px;
        }

        .experiences {
            display: flex;
            flex-direction: column;
            background: #1b92f44a;
            padding: 15px;
            border: 1px solid #0295d4;
        }

        input[type=text]:focus,
        input[type=url]:focus,
        input[type=tel]:focus,
        #Role:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid #48f404da;
        }

        #addExp {
            margin: 10px;
            text-transform: uppercase;
        }

        .saveWorker,
        .Cancel {
            color: #401010;
            background-color: #e74c3c;
            outline: none;
            border: 0;
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 4px;
            cursor: pointer;
        }

        .saveWorker {
            background: #48f404;
        }

        @media (min-width:768px) {
            .item-1 {
                grid-column: 1/13;
                grid-row: 1/3;
            }


            .item-2 {
                grid-column: 1/13;
                grid-row: 3/7;
                padding: 5px;
            }

            .elem-1 {
                grid-column: 1/5;
                grid-row: 1/5;
            }

            .elem-2 {
                grid-column: 1/5;
                grid-row: 5/13;
            }

            button {
                width: 200px;
                font-size: 16px;
            }

            .EnAtend {
                margin-top: 10px;
                height: 80%;
                width: 100%;
                border: 2px dashed green;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            form {
                width: 60%;
            }
        }

        @media (min-width:1024px) {
            .container {
                padding: 15px;
            }

            .item-1 {
                grid-column: 1/2;
                grid-row: 1/13;
            }

            .item-2 {
                grid-column: 2/13;
                grid-row: 1/13;
                padding: 5px;
            }

            button {
                font-size: 18px;
            }

            .EnAtend {
                margin-top: 10px;
                height: 92%;
                flex-direction: column;
            }

            form {
                width: 40%;
            }
        }

        @media (min-width:1280px) {
            .container {
                gap: 1rem;
                font-size: 24px;
            }

            .elem-1 {
                grid-column: 1/5;
                grid-row: 1/5;
            }

            .elem-2 {
                grid-column: 1/5;
                grid-row: 5/13;
            }

            .elem-3 {
                grid-column: 7/10;
                grid-row: 1/5;
                margin-right: 20px;
            }

            .elem-6 {
                margin-right: 20px;
            }

            button {
                font-size: 22px;
                width: 270px;
                padding: 15px 50px;
            }

            #addExp,
            .Cancel,
            .saveWorker {

                font-size: 14px;
                padding: 10px 5px;
                width: 40%;
            }

            .Register {
                padding: 50px;
            }

            form {
                width: 30%;
            }
        }