 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }

 footer {
     color: #FFFFFF;
     background: #303135;
     min-width: 100%;
     padding: 12px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
a{
    background:#858484;
    padding: 5px 10px;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
a:focus {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}
 .paraErrore {
     color: #e74c3c;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 3px;
     text-transform: lowercase;
 }

 .enAtend,
 .Worker,
 .BriefInfos {
     width: 100%;
     height: 80%;
     overflow-y: auto;
     /* enables vertical scrolling */
     overflow-x: hidden;
     /* optional — prevents horizontal scroll */
     margin-top: 5px;
 }

 .enAtend::-webkit-scrollbar,
 .Worker::-webkit-scrollbar,
 .BriefInfos::-webkit-scrollbar {
     width: 6px;
 }

 .enAtend::-webkit-scrollbar-thumb,
 .Worker::-webkit-scrollbar-thumb,
 .BriefInfos::-webkit-scrollbar-thumb {
     background: #888;
     border-radius: 4px;
 }

 .enAtend::-webkit-scrollbar-thumb:hover,
 .BriefInfos::-webkit-scrollbar-thumb:hover {
     background: #888;
 }

 .container {
     color: #FFFFFF;
     background: #888;
     min-width: 100%;
     height: 100%;
     padding: 12px;
     display: grid;
     gap: 0.2rem;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(6, 1fr);
     justify-items: center;
     align-items: center;
 }

 .items {
     border-radius: 12px;
     width: 100%;
     height: 100%;
 }

 .item-1 {
     grid-column: 1 / 13;
     grid-row: 1/3;
     background: #65646462;
     padding: 8px;
 }

 .item-1-counter {
     width: 100%;
     height: 40px;
     font-weight: 300;
     font-size: 20px;
     color: #00ffff;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 button {
     color: #FFFFFF;
     cursor: pointer;
     padding: 8px 14px;
     width: 150px;
     border-radius: 5px;
     background: #003bebd8;
     border: 1px solid rgb(3, 235, 208);
 }

 .item-2 {
     position: relative;
     grid-column: 1/13;
     grid-row: 3/7;
     display: grid;
     grid-template-columns: repeat(11, 1fr);
     grid-template-rows: repeat(12, 1fr);
     gap: 0.1rem;
     justify-content: space-around;
     align-content: start;
     background-image: url('/images/plan.webp');
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: scroll;
     background-size: 106% 100%;
     overflow: hidden;
 }

 .plusWorker {
     margin: 2px;
     cursor: pointer;
     width: 20px;
     height: 20px;
 }

 .model {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #01491ba3;
     display: none;
     align-content: center;
 }

 #closeBriefInfos {
     position: absolute;
     z-index: 1;
     top: 2%;
     right: 2%;
     width: 30px;
     height: 30px;
     padding: 2px;
     background: #01ff01;
     border-radius: 50%;
     cursor: pointer;
     transition: all .8s ease-in;
 }

 #closeBriefInfos:hover {
     rotate: 360deg;
 }

 #closeProfile {
     width: 20px;
     height: 20px;
     border-radius: 50%;
 }

 .BriefInfos {
     position: relative;
     width: 300px;
     max-width: 767px;
     height: 90%;
     margin: 2px auto;
     background: #2c1b00e6;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-end;
     padding: 6px;
     border-radius: 10px;
     box-shadow: #888 2px -2px 20px;
 }


 .infosWorker {
     position: absolute;
     width: 80%;
     height: 100%;
     background: #380101b6;
     margin: auto;
     padding: 1rem;
     display: none;
 }

 .work-Experiences {
     background: #000;
     width: 100%;
     height: 30%;
 }

 .infosWorker-profielTitle {
     color: #00aef9;
     display: flex;
     justify-content: space-between;
     border-bottom: 2px solid #cc3a3a35;
 }

 .infosWorker-workerNom {
     padding: 15px 0;
     display: flex;
     gap: 1rem;
 }

 #profilePicture {
     width: 140px;
     height: 140px;
     border-radius: 50%;
 }

 .contactWorker {
     background: #4341415e;
     border-radius: 15px;
     padding: 1rem 0.5rem;
 }

 .contactWorker-conact {
     color: black;
     font-weight: bold;
 }

 .elements {
     background: #a308085c;
     font-size: 14px;
     border-radius: 20px;
     padding: 10px 2px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .elem-1 {
     grid-column: 1/5;
     grid-row: 1/5;
 }

 .elem-2 {
     grid-column: 1/5;
     grid-row: 5/13;
 }

 .elem-3 {
     grid-column: 7/10;
     grid-row: 1/5;
     margin-right: 8px;
 }

 .elem-4 {
     grid-column: 10/13;
     grid-row: 9/13;
 }

 .elem-5 {
     grid-column: 10/13;
     grid-row: 1/5;
 }

 .elem-6 {
     grid-column: 7/10;
     grid-row: 9/13;
     margin-right: 8px;
 }

 .Register {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
     background: #8888883f;
     backdrop-filter: blur(3px);
     padding: 1rem 0;
     width: 100%;
     /*display: none;*/
 }

 .closeModel {
     position: sticky;
     padding: 3px;
     top: 1%;
     left: 92%;
     z-index: 2;
     border-radius: 50%;
     background: #06f706;
     cursor: pointer;
     transition: all 1s ease-in-out;
     width: 30px;
     height: 30px;
 }

 .closeModel:hover {
     rotate: 360deg;
 }

 form {
     position: relative;
     top: 0;
     width: 90%;
     background: #eae8e8e2;
     border-radius: 20px;
     padding: 40px 15px;
     margin: 5px auto;
     color: #192316;
 }

 .textcenter {
     color: #36a403;
     font-weight: 300;
     font-size: 20px;
     display: block;
     padding: 20px 10px;
     margin: 5px auto;
 }

 .text-center {
     font-weight: 400;
     text-transform: capitalize;
     display: block;
     text-align: center;
     padding: 16px 10px;
 }

 #defaultphoto {
     display: block;
     margin: 10px auto;
     min-width: 50px;
     max-width: 80px;
     min-height: 50px;
     max-height: 80px;
     border-radius: 50%;
 }
 .inputs {
     margin-bottom: 25px;
     border: 0;
     background: transparent;
     width: 90%;
     font-size: 16px;
 }
 .inputs>label {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 14px;
 }



 input,
 select {
     width: 80%;
     padding: 8px 12px;
     border-radius: 10px;
     font-size: 16px;
     outline: none;
     border: #90ee02 1px solid;
     margin: 2px auto;
 }

 .experiences {
     display: flex;
     flex-direction: column;
     background: #888;
     padding: 20px;
     border: 1px solid #0295d4;
     justify-content: left;
     align-items: start;
     margin: 5px;

 }

 input[type=text]:focus,
 input[type=url]:focus,
 input[type=tel]:focus,
 #Role:focus {
     outline: none;
     border: none;
     border-bottom: 1px solid #48f404da;
 }

 #addExp {
     margin: 10px auto;
     text-transform: uppercase;
     background: #0470f4;
 }

 .ExpPro {
     border: 1px solid #07ed07;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }

 .paraExperience {
     padding: 6px;
     border: 1px solid #39f405ff;
     border-radius: 15px;
     width: fit-content;
     margin: 0.4rem;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize;
 }

 .saveWorker,
 .Cancel {
     color: #FFFFFF;
     background-color: #e74c3c;
     border: 0;
     padding: 10px 20px;
     border-radius: 6px;
     cursor: pointer;
     margin: 4px auto;
 }

 .saveWorker {
     background: #0470f4;
 }

 .rolesList {
     background: #f99705e1;
     border: 1px solid #0295d4;
     padding: 5px;
 }

 .EnAtend {
     position: relative;
     font-size: 10px;
     z-index: 1;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 250px;
     height: 70px;
     padding: 5px;
     margin: 5px auto;
     font-size: 14px;
     border-radius: 15px;
     transition: all ease-in-out .3s;
     background: #df2100b3;
 }

 .EnAtend:hover {
     box-shadow: 2px -2px 8px #777171c9;
 }

 .Worker {
     width: 100%;
     height: 98%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     gap: 1rem;
 }

 .photoworker {
     border: #07ed07 2px solid;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .profileWorkerPic {
     width: 50px;
     height: 50px;
 }

 .nomworker {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .roleworker {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #a89d00;
     font-weight: 300;
 }

 .btnEdit {
     border: none;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     overflow: hidden;
     cursor: pointer;
 }

 @media (min-width:768px) {

     .item-1 {
         margin: auto 15px;
     }

     .item-2 {

         padding: 5px;
     }

     .infosWorker {
         width: 480px;
     }

     .elem-1 {
         grid-column: 1/5;
         grid-row: 1/5;
     }

     .elem-2 {
         grid-column: 1/5;
         grid-row: 5/13;
     }

     button {
         width: 180px;
         font-size: 16px;
     }

     form {
         width: 450px;
     }

     .inputs {
         width: 80%;
     }

     .closeModel {
         width: 30px;
         height: 30px;
         left: 88%;
     }

     .elements {
         font-size: 16px;
     }

     .paraExperience {
         width: 40%;
     }

     .Worker {
         gap: 0.6rem;
     }

     .BriefInfos {
         width: 70%;
     }

     .EnAtend {
         width: 260px;
     }
     
 .plusWorker {
     width: 25px;
     height: 25px;
 }
 }

 @media (min-width:1024px) {
     .container {
         padding: 15px;
     }

     .item-1 {
         grid-column: 1/2;
         grid-row: 1/13;
         padding: 8px 4px;
     }

     .item-2 {
         grid-column: 2/13;
         grid-row: 1/13;
         padding: 2px;
     }

     .infosWorker {
         width: 100%;
     }

     button {
         font-size: 18px;
     }

     form {
         width: 500px;
     }

     .closeModel {
         left: 92%;
     }

     .elements {
         font-size: 18px;
     }

     .paraExperience {
         width: 40%;
     }

     .EnAtend {
         font-size: 16px;
         width: 240px;
     }

     .Worker {
         width: 100%;
     }

     .enAtend {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
         width: 100%;
         gap: 0.5rem;
         margin: auto;
         height: 95%;
     }

     .photoworker {
         width: 40px;
         height: 40px;
         border-radius: 50%;
     }

     .BriefInfos {
         width: 50%;
         height: 100%;
         margin: auto;
         padding: 10px;
         border-radius: 15px;
         display: flex;
         align-items: center;
     }

     #closeBriefInfos {
         width: 40px;
         height: 40px;
         transition: all ease .8s;
     }

     #closeBriefInfos:hover {
         rotate: 360deg;
     }
     
 .plusWorker {
     width: 30px;
     height: 30px;
 }
 h5{
    font-size: 20px;
 }
 }

 @media (min-width:1280px) {
     .container {
         gap: 1rem;
         font-size: 24px;
     }

     .item-1 {
         padding: 8px;
         justify-content: space-between;
     }

     .elem-1 {
         grid-column: 1/5;
         grid-row: 1/5;
     }

     .elem-2 {
         grid-column: 1/5;
         grid-row: 5/13;
     }

     .infosWorker {
         width: 550px;
     }

     .elem-3 {
         grid-column: 7/10;
         grid-row: 1/5;
         margin-right: 20px;
     }

     .elem-6 {
         margin-right: 20px;
     }

     #addExp,
     .Cancel,
     .saveWorker {
         font-size: 14px;
         padding: 10px 5px;
         width: 40%;
     }


     form {
         width: 550px;
     }

     .text-center {
         padding: 30px 40px;
     }

     .closeModel {
         width: 45px;
         height: 45px;
         left: 95%;
         top: 5%;
     }

     .elements {
         font-size: 22px;
     }

     .paraExperience {
         width: 30%;
     }

     .BriefInfos {
         width: 450px;
         height: 80%;
         padding: 20px 80px;
     }

     .EnAtend {
        
         width: 240px;
         height: 75px;
         padding: 6px;
         align-items: center;
     }
     .Worker{
        width: 100%;
        height: 100%;
     }
     
 .plusWorker {
     width: 40px;
     height: 40px;
 }
 h5{
    font-size: 28px;
 }
     .enAtend {
         width: 100%;
         gap: 0.5rem;
         height: 95%;
     }

     #closeBriefInfos {
         width: 40px;
         height: 40px;
         transition: all ease .8s;
     }

     #closeBriefInfos:hover {
         rotate: 360deg;
     }
 }